.git
.gitignore
.env
.env.*
*.log
*.sqlite
node_modules
vendor
storage/*.key
.DS_Store
.phpunit.result.cache
.php-cs-fixer.cache
tests/
.phpactor/
.idea/
.vscode/
*.iml
docker-compose.yml
Dockerfile
.docker/